<?xml version="1.0"?>
<robot>  
 
  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>false</alwaysOn>
      <legacyMode>false</legacyMode>
      <updateRate>20</updateRate>
      <leftJoint>main_to_l</leftJoint>
      <rightJoint>main_to_r</rightJoint>
      <wheelSeparation>0.9</wheelSeparation>
      <wheelDiameter>0.4</wheelDiameter>
      <torque>20</torque>
      <commandTopic>/bot/base_controller/cmd_vel</commandTopic>
      <odometryTopic>/bot/base_controller/odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>main_link</robotBaseFrame>
    </plugin>
  </gazebo>
 
</robot>